*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#background{
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
}

#nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* position: absolute; */
    width: 100%;
    height: 8%;
    background-color:#fff ;
    padding: 0px 90px;
    box-shadow: 10px 2px 5px rgba(121, 190, 255, 0.4);
    border-bottom: 1.2px solid rgba(145, 145, 145, 0.575);
}
#nav #rightsection {
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav #rightsection a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

#nav #rightsection i{
    /* width: 20%; */
    margin-left: 20px;
    font-size:19px ;
}

#slider{
    width: 100%;
    height: 50%;
    background-color: rgb(52, 95, 131);
    background-size: cover;
    background-position: center;
    /* background-image: url(./images/sliderimage.jpg); */
}


#overlay{
    width: 100%;
    height: 100%;
    /* background-color: rgba(2, 2, 2, 0.3); */
}

#overlay h1{
    position: absolute;
    right: 20%;
    top: 20%;
    font-size: 30px;
    font-weight: 100;
    color: #ffff;
    line-height:45px;
}

#overlay img {
    margin-top: 10%;
    margin-left: 43%;
    width: 12%;
    height: 50%;
}

#rgpvlogo{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
}



#cardspace{
    /* display: none; */
    width: 100%;
    height: 100vh;
    padding: 60px 70px;
    background-color:#f3f3f3;
    background-image: #ffff;
}
.cardsdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    /* background-color: red; */
}
.card{
    position: relative;
    text-align:center ;
    margin-left: 10px;
    width: 15%;
    height: 100%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    text-transform: capitalize;
    box-shadow: 2px 5px 15px rgba(2, 2, 2, 0.3);
    background-color:#fff;
}

.card:hover{
    z-index: 999999 ;    
    transform: scale(1.3);
    /* margin-bottom:40px ; */
    cursor: pointer;
}

.img{
    width: 100%;
    height: 40%;
    background-size: cover;
    background-position:center ;
    background-color: #1b1c31;
}

.img h4{
    padding: 20px;
    color: white;
    letter-spacing: 1px;
}
#rowtwo{
    margin-top: 30px;
}

.card h3{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 100;
    color: #959595;
}

.card button{
    position: absolute;
    background-color: rgb(65, 65, 65);
    border: none;
    /* border: 2px solid rgb(100, 208, 235); */
    bottom: 10px;
    left: 30%;
    padding: 2px 15px;
    cursor: pointer;
    font-size: 14px;
    color: white;
    text-transform: capitalize;
    outline: none;
}

.card button:hover{
    background-color: rgb(100, 208, 235);
}

#dropbox{
    display: none;  
    position: relative;
    width: 100%;
    height: 70%;
    background-color: #f3f3f3;
}

#dropbox button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: none;
    outline: none;
    font-size: 18px;
    width: 10%;
    height: 10%;
    color: #fff;
    background-color: #1b1c31 ;
}

spam i{
    margin-left: 10px;
    font-size:22px;
}


#menu{
    display: none;
    /* justify-content: space-between; */
    position: absolute;
    top: 85%;
    left: 54%;
    transform: translate(-50%,-50%);
    width: 15%;
    height: 60%;
    z-index: 9999999;
    background-color: #fff;
}

#menu a{
    text-decoration: none;
    text-transform: uppercase;
    display: flex; 
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
    letter-spacing: 1px;
    color: #000;
}

#text{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0px;
    padding: 0px 50px;
    width: 100%;
    height: 10vh;
    /* background-color: red; */
}

#text #circle{
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: -170%;
    width: 50px;
    height: 50px;
    border: 2px solid #8a8a8a;
    border-radius: 100%;
    
}
#circle i{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-size: 30px;
    align-items: center;
}
#text p{
    margin-top: 0%;
    font-size:20px ;
    letter-spacing: 0.5px;
    line-height: 40px;
}

#fotter{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;
    margin-top:110px ;
    padding: 35px 90px;
    background-color:#000;
}

#fotter #left{
    width: 40%;
    line-height: 25px;
    font-size:14px ;
    color: rgba(255, 255, 255, 0.897);
}
#fotter #right{
    width: auto;
    height: auto;
}

#fotter #right  i{
    font-size: 25px;
} 

#fotter #right a{
    text-decoration: none;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.836);
}

#fotter ul{
    width: 70%;
    position: absolute;
    bottom: 2%;
    left: 80%;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 300;
    transform: translate(-50%,-50%);
    color: rgb(255, 255, 255);
}

#fotter ul a{
    /* text-decoration: none; */
    color: rgb(255, 255, 255);
}


#upbutton{
    position: absolute;
    bottom: 20%;
    right: 5%;
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    border-radius: 50px;
}

#upbutton a{
    text-decoration: none;
}

#upbutton i{
    display: flex;
    justify-content: center;
    margin-top: 8px;
    font-size: 30px;
    align-items: center;
    color: #fff;
}

#upbutton:hover{
    transform: scale(1.2);
    cursor: pointer;
}

@media(max-width:768px){
    .cardsdiv{
        height: 42%;
    }

    .card{
        width: 18%;
    }
    #text{
        padding: 0px 0px;
    }
    #text p{
        margin-top: 0%;
        line-height: normal;
    }
    #text #circle{
        top: 0%;
    }

    #fotter{
        top: 20%;
        padding: 20px 20px;
    }
    #fotter #left{
       width: 70%;
    }
}


@media(max-width:425px){
    #cardspace{
        display: none;
    }

    #dropbox{
        display: block;
        height: 70%;
    }

    #dropbox button{
        top: 20%;
        left: 47%;
        width: 52%;
        height: 10%;
    }

    #menu{
        font-weight: 600;
        top: 95%;
        left: 47%;
        width: 53%;
        height: 140%;
    }
    #logo img{
        width:80%;
        margin-left: -20px;
    }
    #nav{
        padding: 0px 40px;
    }
    #nav #rightsection a{
        font-size: 14px;
    }

    #nav #rightsection i{
        font-size: 16px;
    }
    #overlay h1{
        margin-top: -30px;
        margin-left: 40px;
        line-height: 25px;
        font-size: 25px;
        line-height: 30px;
    }
    #overlay img{
        width: 42%;
        margin-left: 100px;
        margin-top: 34%;
    }
   
    #text{
        padding: 0px 0px;
        height: 0vh;
        margin-top: 35%;
        align-content: center;
    }
    #text #circle{
        margin-top: -45%;
    }
    #fotter{
        top: 0%;
        padding: 10px 30px;
        height: 70%;
        flex-direction: column;
    }
    #fotter #left {
        width: 100%;
        line-height: 30px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.459);
    }

    #fotter #right {
        position: absolute;
        margin-top: 95% ;
    }

    #fotter #right:nth-child(2){
        margin-left: -20px;
    }

    #upbutton{
        top: 80%;
        right: 12%;
    }
    #fotter ul{
        font-size-adjust: ;
        left: 60%;
    }
}

@media(max-width:411px){
    #cardspace{
        display: none;
    }

    #dropbox{
        display: block;
        height: 70%;
    }

    #dropbox button{
        top: 20%;
        left: 47%;
        width: 52%;
        height: 10%;
    }

    #menu{
        font-weight: 600;
        top: 79%;
        left: 47%;
        width: 53%;
        height: 110%;
    }
    #logo img{
        width:80%;
        margin-left: -20px;
    }
    #nav{
        padding: 0px 40px;
    }
    #nav #rightsection a{
        font-size: 14px;
    }

    #nav #rightsection i{
        font-size: 16px;
    }
    #overlay h1{
        margin-top: -30px;
        margin-left: 40px;
        line-height: 25px;
        font-size: 25px;
        line-height: 30px;
    }
    #overlay img{
        width: 42%;
        margin-left: 120px;
        margin-top: 40%;
    }
   
    #text{
        padding: 0px 0px;
        height: 0vh;
        margin-top: 35%;
        align-content: center;
    }
    #text #circle{
        margin-top: -45%;
    }
    #fotter{
        top: 0%;
        padding: 10px 30px;
        height: 70%;
        flex-direction: column;
    }
    #fotter #left {
        width: 100%;
        line-height: 30px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.459);
    }

    #fotter #right {
        position: absolute;
        margin-top: 95% ;
    }

    #fotter #right:nth-child(2){
        margin-left: -20px;
    }

    #upbutton{
        right: 12%;
    }
    #fotter ul{
        font-size-adjust: ;
        left: 60%;
    }
}

@media(max-width:375px){
    #text p{
        margin-top: 10%;
    }

    #fotter  {
    height: 90%;
    }

    #fotter #right{
        margin-top: 110%;
    }
    #upbutton{
       bottom: 13%;
    }
}

@media (max-width:320px){
    #dropbox button{
        width: 45%;
    }
    #overlay h1 {
    right: 0px;
    left: 30px;
    }

    .cardsdiv{
        height: 180vh;
        width: 100%;
    }

    #text{
        padding: 0px 0px;
        height: 60vh;
        font-size: 15px;
    }

    #text #circle {
        margin-top: -40%;
    }

    #text p{
        margin-top: -70%;
    }

    #fotter{
        top :-30%;
        
    }

    #fotter #left{
        font-size: 15px;
    }

    #fotter #right{
        margin-top: 115%;
    }
}

@media(max-width:360px){
    #fotter #right{
        margin-top: 125%;
    }
}


